!!!
%html
  %head
    %title Hmm...
    %link(rel="stylesheet" type="text/css" href="/index.css")
    %script(type="text/javascript" src="http://ajaxorg.github.io/ace-builds/src-min/ace.js")
    %script(type="text/javascript" src="/index.js")

  %body
    #editor
    #toolbar
      %button#save Save
      %button#new New
