!!!
%html
  %head
    %title Hmm...
    %link(rel="stylesheet" type="text/css" href="/index.css")
    %script(type="text/javascript" src="http://ajaxorg.github.io/ace-builds/src-min/ace.js")
    %script(type="text/javascript" src="/index.js")

  %body
    %form(method="POST" style="display: none;")
      %input(type="text" name="message")
      %textarea(name="content")

    %pre#editor= @content

    #toolbar
      %button#save Save
      %button#new New
